
iframe {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 85vh;
    display: block;
    border: none;
}

p.center {
	text-align: center;
}

#SortTable tr{
  /* Hides Rows to speed loading */
  display: none; 
}


#SortTable {
	width: 100%;
	font-size: 12px;
}

#TroubleLog {
	width: 100%;
	font-size: 12px;
}

.ui.segment {
	height: 94vh;
	overflow-y: auto;
}

.ui.segment.log {
	height: 94vh;
}

#faulttime {
	font-size: 12px;
	padding: 0;
	font-weight: bold;
}

#bold {
	font-weight: bold;
}
.hidden {
	display: none;
}

h4.colored{
	color: #2185D0 !important;
}

.ui.horizontal.divider.ccss{
	font-size: 12px !important;
	color: #FFFFFF;
	font-weight: normal;

}

