@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin&display=swap');

BODY {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.wikidpad {
  /* class used by all elements created from HTML preview/exporter.
    Address specific elements e.g. with "br.wikidpad" */
}

table.wikidpad {
  width: 90%;
  background: #FFFFFF;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.28571429rem;
  text-align: left;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  padding: 0.78571429em 0.78571429em;
  text-align: inherit;
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  display: table-cell;
  background-color: rgba(0, 0, 50, 0.02);
}

img.wikidpad {
  border-width: 5px;
  width: 100%;
  height: auto;
  margin:10px 0 10px 0;   
}

button.wikidpad {
  border-radius: 8px;
  background-color: #2185D0;
  text-align: center;
  color: white;
  border: 4px solid #e7e7e7;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  padding: 12px 20px;
  width: 75vw;
}

button.wikidpad:hover {
  background-color: white;
  color: #008080;
}

.wiki-name-ref {
  color: #888888;
  font-size: 75%;
}

.parent-nodes {
  color: #888888;
  font-size: 75%;
  display: none;
}

.property {
  /* Legacy definition, use ".attribute" instead  */
}

.attribute {
  color: #888888;
  font-size: 75%;
  display: none;
}

.script {
  color: #888888;
  font-size: 75%;
}

.todo {
  font-weight: bold;
}


li.wikidpad{
   margin:0 0 10px 0;   
}

.url-link {}

.wiki-link {}


/* normal indentation */

.normalindent {}


/* list of bullets (unordered list) */

.bulletlist {}

/* default ordered list */

.orderedlist {}

.page-toc {}

.page-toc-level1 {}

.page-toc-level2 {
  margin-left: 4mm;
}

.page-toc-level3 {
  margin-left: 8mm;
}

.page-toc-level4 {
  margin-left: 12mm;
}

.page-toc-level5 {
  margin-left: 16mm;
}

.page-toc-level6 {
  margin-left: 20mm;
}

.page-toc-level7 {
  margin-left: 24mm;
}

.page-toc-level8 {
  margin-left: 28mm;
}

.page-toc-level9 {
  margin-left: 32mm;
}

.page-toc-level10 {
  margin-left: 36mm;
}

.page-toc-level11 {
  margin-left: 40mm;
}

.page-toc-level12 {
  margin-left: 44mm;
}

.page-toc-level13 {
  margin-left: 48mm;
}

.page-toc-level14 {
  margin-left: 52mm;
}

.page-toc-level15 {
  margin-left: 56mm;
}

.heading-level1 {}

.heading-level2 {}

.heading-level3 {}

.heading-level4 {}

.heading-level5 {}

.heading-level6 {}

.heading-level7 {}

.heading-level8 {}

.heading-level9 {}

.heading-level10 {}

.heading-level11 {}

.heading-level12 {}

.heading-level13 {}

.heading-level14 {}

.heading-level15 {}